@import './styles/variables';

:root {
  font-family: $font-family;
  line-height: $line-height;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-dark;
  background-color: $background-dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: $primary-color;
  text-decoration: inherit;

  &:hover {
    color: $primary-hover;
  }
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

html,
body {
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: grid;
}

h1 {
  font-size: $font-size-xl;
  line-height: 1.1;
  text-align: center;
}

button {
  @include button-base;
  background-color: $button-bg-dark;

  &:hover {
    border-color: $primary-color;
  }

  &:focus,
  &:focus-visible {
    @include focus-visible;
  }
}

.card {
  @include card;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $text-light;
    background-color: $background-light;
  }

  a:hover {
    color: $primary-light;
  }

  button {
    background-color: $button-bg-light;
  }
}
