@use './styles/variables';

:root {
  font-family: variables.$font-family;
  line-height: variables.$line-height;
  font-weight: 400;

  color-scheme: light dark;
  color: variables.$text-dark;
  background-color: variables.$background-dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: variables.$primary-color;
  text-decoration: inherit;

  &:hover {
    color: variables.$primary-hover;
  }
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: variables.$font-size-xl;
  line-height: 1.1;
}

button {
  @include variables.button-base;
  background-color: variables.$button-bg-dark;

  &:hover {
    border-color: variables.$primary-color;
  }

  &:focus,
  &:focus-visible {
    @include variables.focus-visible;
  }
}

.card {
  @include variables.card;
}

@media (prefers-color-scheme: light) {
  :root {
    color: variables.$text-light;
    background-color: variables.$background-light;
  }

  a:hover {
    color: variables.$primary-light;
  }

  button {
    background-color: variables.$button-bg-light;
  }
}
